<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

	<!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container section-100">
            <h1>티켓<span>마요</span><span></span></h1>
            <p class="text-mute mt-4">콘서트, 뮤지컬 매니아를 위한 커뮤니티<br>다양한 공연 정보와 이슈를 한 눈에 확인 하세요.</p>
        </div>
        <hr class="mt-0">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-auto  text-center">
                   Copyright © 티켓마요 Team. All rights reserved.
                </div>
            </div>
            <hr>
            <p class="text-center">Copyright © 티켓마요 Team. All rights reserved.</p>
        </div>
    </footer>
    <!-- Footer ends -->

	<!-- sticky footer tabs -->
	<div class="footer-tabs border-top text-center">
	    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
	        <li class="nav-item">
	            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
	                <i class="material-icons">home</i>
	                <small class="sr-only">Home</small>
	            </a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">
	                <i class="material-icons">search</i>
	                <small class="sr-only">search</small>
	            </a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="false">
	                <i class="material-icons">chat_bubble_outline</i>
	                <small class="sr-only">chat</small>
	            </a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="favorite-tab" data-toggle="tab" href="#favorite" role="tab" aria-controls="favorite" aria-selected="false">
	                <i class="material-icons">favorite_border</i>
	                <small class="sr-only">favorite</small>
	            </a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
	                <i class="material-icons">person</i>
	                <small class="sr-only">Profile</small>
	            </a>
	        </li>
	    </ul>
	</div>
	<!-- sticky footer tabs ends -->
	
	<!-- scroll to top button -->
    <button type="button" class="btn btn-default default-shadow scrollup bottom-right position-fixed btn-44"><span class="arrow_carrot-up"></span></button>
    <!-- scroll to top button ends-->
	
	
<!-- script -->
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
   		
</script>
		
</th:block>
</html>