<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headFragment">
		<!--begin::Head-->
		<head>
			<title>티켓마요</title>
			<meta charset="utf-8" />
			<meta name="description" content="-" />
			<meta name="keywords" content="-" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta property="og:locale" content="ko_KR" />
			<meta property="og:type" content="article" />
			<meta property="og:title" content="-" />
			<meta property="og:url" content="-" />
			<meta property="og:site_name" content="- | -" />
			<link rel="canonical" href="-" />
			<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
			<!--begin::Fonts-->
			<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />-->
			<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
			<!--end::Fonts-->
			
			<!--begin::Global Stylesheets Bundle(used by all pages)-->
			<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
			<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
			<!--end::Global Stylesheets Bundle-->
			
			<!-- COMMON SCRIPTS -->
			<script src="assets/js/jquery-3.6.0.min.js"></script>
			<!--begin::Global Javascript Bundle(used by all pages)-->
			<script src="assets/plugins/global/plugins.bundle.js"></script>
			<script src="assets/js/scripts.bundle.js"></script>
			<!--end::Global Javascript Bundle-->
			<script src="assets/ticketmayo.js"></script>
			
		</head>
		<!--end::Head-->
	</th:block>
</html>