<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headFragment">
		<!--begin::Head-->
		<head>
			<title>티켓마요</title>
			<meta charset="utf-8" />
			<meta name="description" content="-" />
			<meta name="keywords" content="-" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta property="og:locale" content="ko_KR" />
			<meta property="og:type" content="article" />
			<meta property="og:title" content="-" />
			<meta property="og:url" content="-" />
			<meta property="og:site_name" content="- | -" />
			<link rel="canonical" href="-" />
			
			<!--begin::Fonts-->
			<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
			<!--end::Fonts-->
			
			<link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
		    <link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
		    <link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
		    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#ffffff">
		    <link rel="icon" href="/assets/img/favicons/favicon.ico">
	
		    <!-- Elegant font icons -->
		    <link href="/assets/vendor/elegant_font/HTMLCSS/style.css" rel="stylesheet">
		    <!-- Elegant font icons -->
		    <link href="/assets/vendor/materializeicon/material-icons.css" rel="stylesheet">
		    <!-- Swiper Slider -->
		    <link href="/assets/vendor/swiper/css/swiper.min.css" rel="stylesheet">
		    <!-- Custom styles for this template -->
		    <link href="/assets/css/style-purple.css" rel="stylesheet" id="style">
			
			<!-- Required jquery and libraries -->
			<script src="/assets/js/jquery-3.3.1.min.js"></script>
			<script src="/assets/js/popper.min.js"></script>
			<script src="/assets/vendor/bootstrap-4.4.1/js/bootstrap.min.js"></script>
		</head>
		<!--end::Head-->
	</th:block>
</html>