<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topFragment">
	<!-- Fixed navbar -->
	<header class="header fixed-top header-fill">
	    <nav class="navbar">
	        <div>
	            <button class="menu-btn btn btn-link btn-44">
	                <span class="icon material-icons">menu</span>
	            </button>
	        </div>
	        <div>
	            <a class="navbar-brand" href="/">
	                <div class="logo">*<span>T</span><span>M</span></div>
	                <h4 class="logo-text"><span>티켓마요</span><small>TicketMayo</small></h4>
	            </a>
	        </div>
	        <div>
	            <form class="form-inline search">
	                <input class="form-control w-100" type="text" placeholder="Search..." aria-label="Search">
	                <button class="btn btn-link btn-44" type="submit"><span class="icon_search"></span></button>
	            </form>
	            <button class="btn btn-link search-btn" type="button"><span class="icon_search"></span></button>
	            <a href="" class=""><span class="avatar avatar-30"><img src="/assets/img/user1.png" alt=""></span></a>
	        </div>
	    </nav>
	</header>
	<!-- Fixed navbar ends -->


	<!-- sidebar -->
	<div class="sidebar">
	    <div class="row no-gutters">
	        <div class="col-auto align-self-center">
	            <figure class="avatar avatar-50">
	                <img src="/assets/img/user1.png" alt="">
	            </figure>
	        </div>
	        <div class="col pl-3 align-self-center">
	            <p class="my-0">홍길동</p>
	            <p class="text-mute my-0 small">sorrynthx@naver.com</p>
	        </div>
	        <div class="col-auto align-self-center">
	            <a href="/" class="btn btn-link text-white p-2"><i class="material-icons">power_settings_new</i></a>
	        </div>
	    </div>
	    <div class="list-group main-menu my-4">
	        <a href="/" class="list-group-item list-group-item-action"><i class="material-icons">home</i>홈</a>
	        <a href="/comingsoon" class="list-group-item list-group-item-action"><i class="material-icons">local_activity</i>오픈예정 티켓</a>
	        <a href="sellTicket" class="list-group-item list-group-item-action"><i class="material-icons">confirmation_number</i>양도티켓 구매</a>
	        <a href="/muse" class="list-group-item list-group-item-action"><i class="material-icons">group</i>뮤즈 게시판</a>
	        <a href="/humor" class="list-group-item list-group-item-action"><i class="material-icons">mood</i>유머 게시판</a>
	        <a href="/issue" class="list-group-item list-group-item-action"><i class="material-icons">wb_sunny</i>이슈 & 카더라</a>
	        <a href="/comment" class="list-group-item list-group-item-action"><i class="material-icons">rate_review</i>후기 게시판</a>
	        <a href="/success" class="list-group-item list-group-item-action"><i class="material-icons">sentiment_very_satisfied</i>성공 내역</a>
	        <a href="/tip" class="list-group-item list-group-item-action"><i class="material-icons">title</i>공연장 팁</a>
	
	        <a href="/faq" class="list-group-item list-group-item-action"><i class="material-icons">help</i>자주찾는질문</a>
	        <a href="/notice" class="list-group-item list-group-item-action"><i class="material-icons">notifications_none</i>공지사항</a>
	        <a href="/myInfo" class="list-group-item list-group-item-action"><i class="material-icons">account_circle</i>내 정보</a>
	    </div>
	    
	</div>
	
	<script>
	'use strict'
	$(document).ready(function () {
		
		/* active link url */
	    var url = window.location;
	    
	    var element = $(".main-menu a").filter(function () {
	        return this.href == url.href;
	    }).addClass("active").parent().addClass("active").closest('.nav-item').addClass("active");
	});
	
	</script>
</th:block>
</html>