<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comingsoonFragment">
	<style>
	.ribbon-label {
		right: -5px;
		border-top-left-radius: 0.95rem;
    	border-bottom-left-radius: 0.95rem;
    	display: flex;
	    justify-content: left;
	    align-items: center;
	    padding: 5px 10px;
	    position: absolute;
	    z-index: 1;
	    background-color: #6121D2D9;
	    box-shadow: 0px -1px 5px 0px rgb(0 0 0 / 10%);
	    color: #FFFFFF;
	    top: 10%;
	    right: 0;
	    transform: translateX(5px) translateY(-50%);
	}
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container">
         <div class="container mt-3">
	        <h5 class="page-subtitle">🎫 &nbsp;오픈예정 공연</h5>
	        <div class="row">
	        	
	        	<div class="col-6 col-md-6">
		        	<div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220509_97%2F1652066010588IJ3Xl_JPEG%2F269_image_url_1652066010574.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3"></figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button> 
	                    </div>
	                </div>
                </div>
	        	
	        	<div class="col-6 col-md-6">
		        	<div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=210x300&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220207_165%2F1644201140882Pb7Tb_JPEG%2F269_image_url_1644201140867.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
	        	</div>
                
                <div class="col-6 col-md-6">
	                <div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220518_220%2F1652848452700MRD8P_JPEG%2F269_image_url_1652848452648.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
                </div>
                
                <div class="col-6 col-md-6">
	                <div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220705_99%2F1656988054891n6fe3_JPEG%2F269_28378242_image_url_1656988054852.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
                </div>
	        	
	        	<div class="col-6 col-md-6">
		        	<div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220509_97%2F1652066010588IJ3Xl_JPEG%2F269_image_url_1652066010574.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3"></figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
                </div>
	        	
	        	<div class="col-6 col-md-6">
		        	<div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=210x300&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220207_165%2F1644201140882Pb7Tb_JPEG%2F269_image_url_1644201140867.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
	        	</div>
                
                <div class="col-6 col-md-6">
	                <div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220518_220%2F1652848452700MRD8P_JPEG%2F269_image_url_1652848452648.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
                </div>
                
                <div class="col-6 col-md-6">
	                <div class="card w-180 mb-4 position-relative overflow-hidden text-white">
	                    <div class="background">
	                        <img src="https://search.pstatic.net/common?type=o&size=174x242&quality=75&direct=true&src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20220705_99%2F1656988054891n6fe3_JPEG%2F269_28378242_image_url_1656988054852.jpg" alt="">
	                    </div>
	                    <div class="card-body text-center z-1 h-100px">
	                    </div>
	                    <div class="card-footer border-0 z-1 text-center">
	                        <figure class="avatar-40 mb-3">
	                        </figure>
	                        <span class="ribbon-label text-truncate" style="max-width: 180px;" onclick="javascript:location.href='http://mticket.interpark.com/Notice/NoticeView?bn=34&no=43624'">자세히 보기</span>
	                        <button class="btn btn-default" onclick="javascript:location.href='/comingsoon/apply'">티켓팅 신청</button>
	                    </div>
	                </div>
                </div>
	        
	        </div>
         </div>
    </main>
    <!-- End of page content -->
	
	<script>
	"use strict"
	$(document).ready(function(){
        
	});
	</script>
	
</th:block>
</html>