<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="humorFragment">
	<style>
	.title {max-width: 75vw;}
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container">
		<!-- page content goes here -->       
        <div class="container mt-4">
        	<h5 class="page-subtitle mb-4">✨ 커뮤니티 인기글</h5>
        	<div class="row">
        		<div id="humorArea">
        			<div class="col-12 col-md-6">
	                    <a href="https://aagag.com/mirror/re.php?ss=ruli_58044747" target="_blank">
		                    <div class="media mb-4">
		                        <figure class="avatar avatar-50 mr-3">
		                            클리앙
		                        </figure>
		                        <div class="media-body">
		                            <h6 class="mt-1 mb-1 text-truncate title">나의 드림카. 내 20대를 갈아넣은 벤츠 구매기 2000012332124</h6>
		                            <p class="small text-mute">2022-07-27 13:25</p>
		                        </div>
		                    </div>
	                    </a>
	                </div>
	                <div class="col-12 col-md-6">
	                    <a href="https://aagag.com//mirror/re.php?ss=ruli_58044747" target="_blank">
		                    <div class="media mb-4">
		                        <figure class="avatar avatar-50 mr-3">
		                            보베
		                        </figure>
		                        <div class="media-body">
		                            <h6 class="mt-1 mb-1 text-truncate title">나의 드림카. 내 20대를 갈아넣은 벤츠 구매기 2000012332124</h6>
		                            <p class="small text-mute">2022-07-27 13:25</p>
		                        </div>
		                    </div>
	                    </a>
	                </div>
	                <div class="col-12 col-md-6">
	                    <a href="https://aagag.com/mirror/re.php?ss=ruli_58044747" target="_blank">
		                    <div class="media mb-4">
		                        <figure class="avatar avatar-50 mr-3">
		                            오유
		                        </figure>
		                        <div class="media-body">
		                            <h6 class="mt-1 mb-1 text-truncate title">나의 드림카. 내 20대를 갈아넣은 벤츠 구매기 2000012332124</h6>
		                            <p class="small text-mute">2022-07-27 13:25</p>
		                        </div>
		                    </div>
	                    </a>
	                </div>
	                
	                <div class="col-12 col-md-6">
	                    <a href="https://aagag.com/mirror/re.php?ss=ruli_58044747" target="_blank">
		                    <div class="media mb-4">
		                        <figure class="avatar avatar-50 mr-3">
		                            루리
		                        </figure>
		                        <div class="media-body">
		                            <h6 class="mt-1 mb-1 text-truncate title">나의 드림카. 내 20대를 갈아넣은 벤츠 구매기 2000012332124</h6>
		                            <p class="small text-mute">2022-07-27 13:25</p>
		                        </div>
		                    </div>
	                    </a>
	                </div>
        		</div>
	        </div>
        </div>
        
    </main>
    <!-- End of page content -->
	
	<!-- Swiper slider  -->
    <script src="/assets/vendor/swiper/js/swiper.min.js"></script>
	<script>
	"use strict"
	$(document).ready(function(){
        /* Swiper slider */
        var swiper = new Swiper('.swiper-stories', {
            slidesPerView: 'auto',
            spaceBetween: 0,
            pagination: false,
        });
        
	});
	</script>
	
</th:block>
</html>