<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="museFragment">
	<style>
	
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container">
		<!-- page content goes here -->       
        <div class="container mt-4">
        	<h5 class="page-subtitle">✨ 뮤즈</h5>
        	<div class="row">
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                    	<a href="/muse/detail">
	                    	<div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=216&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201409%2F20140922203416508-3731873.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">박효신</h6>
	                                    <p class="mb-0 text-mute small">가수</p>
	                                </div>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                    	<a href="/muse/detail">
	                        <div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=216&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201312%2F20131206103506551.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">홍광호</h6>
	                                    <p class="mb-0 text-mute small">뮤지컬 배우</p>
	                                </div>
	                            </div>
	                        </div>
                    	</a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                    	<a href="/muse/detail">
	                        <div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=144&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202201%2F20220109133545653.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">김준수</h6>
	                                    <p class="mb-0 text-mute small">가수</p>
	                                </div>
	                            </div>
	                        </div>
                    	</a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                        <a href="/muse/detail">
	                        <div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=144&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202206%2F20220602114232796.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">재민(NCT DREAM)</h6>
	                                    <p class="mb-0 text-mute small">가수</p>
	                                </div>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                        <a href="/muse/detail">
	                        <div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=144&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202206%2F20220608134249333.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">아이유</h6>
	                                    <p class="mb-0 text-mute small">가수</p>
	                                </div>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card mb-4">
                        <a href="/muse/detail">
	                        <div class="card-header h-200 text-center position-relative overflow-hidden">
	                            <div class="background">
	                                <img src="https://search.pstatic.net/common?type=b&size=144&expire=1&refresh=true&quality=100&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202206%2F20220602002828773.jpg" alt="">
	                            </div>
	                        </div>
	                        <div class="card-footer border-0 z-1">
	                            <div class="media">
	                                <div class="media-body">
	                                    <h6 class="mb-1">뷔(방탄소년단)</h6>
	                                    <p class="mb-0 text-mute small">가수</p>
	                                </div>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-12 text-center mt-4 mb-4">
                	<button type="button" class="mb-2 btn btn-rounded btn-outline-default">더 보기</button>
                </div>
            </div>
            
        	<div class="row">
                <div class="col-12 col-md-6">
                    <div class="card shadow-sm border-0 mb-3">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="text-default">좋아하는 뮤즈가 없나요??</h6>
                                    <p class="text-mute">좋아하는 뮤즈 신청 👉👉👉 </p>
                                </div>
                                <button class="btn btn-default btn-44 shadow-sm">
                                    <i class="material-icons">person_add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        	
        </div>
        <!--end:container-->
        
        <div class="container mt-4">
        	<h5 class="page-subtitle">🔥 깜짝 핫딜!</h5>
        	<p class="text-mute">해당 쿠폰을 보여주시면 할인 받을 수 있어요 :D</p>
	        <div class="swiper-container swiper-stories">
	            <div class="swiper-wrapper">
	            	<div class="swiper-slide w-auto px-2">
                        <div class="card w-250 position-relative overflow-hidden bg-default text-white border-0">
                            <div class="background opacity-60">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-center z-1 h-50">
                            	<h4 class="my-0 font-weight-bold">메가커피</h4>
                            </div>
                            <div class="card-footer border-0 z-1">
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mb-1">마포역점</h6>
                                        <p>10% 할인 <span class="badge badge-success">OfferTX01</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide w-auto px-2">
                        <div class="card w-250 position-relative overflow-hidden bg-default text-white border-0">
                            <div class="background opacity-60">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-center z-1 h-50">
                            	<h4 class="my-0 font-weight-bold">AAA 돈코츠라멘</h4>
                            </div>
                            <div class="card-footer border-0 z-1">
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mb-1">마포역점</h6>
                                        <p>10% 할인 <span class="badge badge-success">OfferTX01</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide w-auto px-2">
                        <div class="card w-250 position-relative overflow-hidden bg-default text-white border-0">
                            <div class="background opacity-60">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-center z-1 h-50">
                            	<h4 class="my-0 font-weight-bold">오늘도 마카롱</h4>
                            </div>
                            <div class="card-footer border-0 z-1">
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mb-1">마포역점</h6>
                                        <p>10% 할인 <span class="badge badge-success">OfferTX01</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide w-auto px-2">
                        <div class="card w-250 position-relative overflow-hidden bg-default text-white border-0">
                            <div class="background opacity-60">
                                <img src="" alt="">
                            </div>
                            <div class="card-body text-center z-1 h-50">
                            	<h4 class="my-0 font-weight-bold">[광고 영역]</h4>
                            </div>
                            <div class="card-footer border-0 z-1">
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mb-1">광고 문의</h6>
                                        <p><span class="badge badge-success">광고 신청하기 🚀 </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
        </div>
        
    </main>
    <!-- End of page content -->
	
	<!-- Swiper slider  -->
    <script src="/assets/vendor/swiper/js/swiper.min.js"></script>
	<script>
	"use strict"
	$(document).ready(function(){
        /* Swiper slider */
        var swiper = new Swiper('.swiper-stories', {
            slidesPerView: 'auto',
            spaceBetween: 0,
            pagination: false,
        });
	});
	</script>
	
</th:block>
</html>