<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myInfoFragment">
	<style>
	
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container" style="padding-top: 62px;">
        <!-- page content goes here -->
        <div class="position-relative overflow-hidden h-200">
           <div class="background" style="background-color: rgba(97, 33, 210, 0.4)">
                <img src="" alt="" style="display: none;">
            </div>
        </div>
        <div class="container top-100 text-center mb-4">
            <figure class="avatar avatar-180 rounded-circle shadow  mx-auto">
                <img src="assets/img/user.png" alt="">
            </figure>
        </div>
        <div class="container-fluid text-center mb-4">
            <h4>test@naver.com</h4>
        </div>
        <div class="container mb-4">
            <ul class="nav nav-pills nav-fill justift-content-center mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="apply-tab" data-toggle="tab" href="#apply" role="tab" aria-controls="apply" aria-selected="true">티켓팅 신청</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">주문티켓</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" id="muse-tab" data-toggle="tab" href="#muse" role="tab" aria-controls="muse" aria-selected="false">내 뮤즈</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
                    <h6 class="page-subtitle">구매중인 티켓</h6>
                    <div class="row">
		                <div class="col-12 col-md-6">
		                    <div class="card  border-0 shadow-light mb-4">
		                        <div class="card-body position-relative">
		                            <div class="media">
		                                <figure class="avatar-100 mr-3">
		                                    <img src="/assets/img/user1.png" alt="Generic placeholder image" class="w-100">
		                                </figure>
		                                <div class="media-body">
		                                    <h6 class="mb-1">웃는남자</h6>
		                                    <p class="small text-mute mb-0">VIP A블럭 D열 12번</p>
		                                    <p class="small text-mute">2022-08-16 19:30 공연</p>
		                                </div>
		                                <div class="text-right"><p class="small text-mute">19:30<br>2022-08-01</p></div>
		                            </div>
		                            <hr>
		                            <div class="row">
		                                <div class="col">
		                                    <h6 class="mb-1">150,000원</h6>
		                                    <p class="small text-mute">1장</p>
		                                </div>
		                                <div class="col-auto">
		                                	모바일로 전달
                                		</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		            <h6 class="page-subtitle">티켓 구매 내역</h6>
		            <div class="row">
		                <div class="col-12 col-md-6">
		                    <div class="card  border-0 shadow-light mb-4">
		                        <div class="card-body position-relative">
		                            <div class="media">
		                                <figure class="avatar-100 mr-3">
		                                    <img src="/assets/img/user1.png" alt="Generic placeholder image" class="w-100">
		                                </figure>
		                                <div class="media-body">
		                                    <h6 class="mb-1">웃는남자</h6>
		                                    <p class="small text-mute mb-0">VIP A블럭 D열 12번</p>
		                                    <p class="small text-mute">2022-08-16 19:30 공연</p>
		                                </div>
		                                <div class="text-right"><p class="small text-mute">19:30<br>2022-08-01</p></div>
		                            </div>
		                            <hr>
		                            <div class="row">
		                                <div class="col">
		                                    <h6 class="mb-1">150,000원</h6>
		                                    <p class="small text-mute">1장</p>
		                                </div>
		                                <div class="col-auto">
		                                	구매완료
                                		</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                    
                    
                </div>
                <!--end:order-->
                
                <div class="tab-pane fade  active show" id="apply" role="tabpanel" aria-labelledby="apply-tab">
                	<h6 class="page-subtitle">티켓팅 신청</h6>
                	<div class="row">
		                <div class="col-12 col-md-6">
		                    <div class="card  border-0 shadow-light mb-4">
		                        <div class="card-body position-relative">
		                            <div class="media">
		                                <figure class="avatar-100 mr-3">
		                                    <img src="/assets/img/user1.png" alt="Generic placeholder image" class="w-100">
		                                </figure>
		                                <div class="media-body">
		                                    <h6 class="mb-1">웃는남자</h6>
		                                    <p class="small text-mute mb-0">2022-08-15 19:30</p>
		                                    <p class="small text-mute">VIP A구역 연석 희망</p>
		                                </div>
		                                <div class="text-right"><p class="small text-mute">19:30<br>2022-08-01</p></div>
		                            </div>
		                            <hr>
		                            <div class="row">
		                                <div class="col">
		                                    <h6 class="mb-1">300,000원</h6>
		                                    <p class="small text-mute">2장</p>
		                                </div>
		                                <div class="col-auto">
		                                	신청중
                                		</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		            <h6 class="page-subtitle">티켓팅 신청 내역</h6>
                	<div class="row">
		                <div class="col-12 col-md-6">
		                    <div class="card  border-0 shadow-light mb-4">
		                        <div class="card-body position-relative">
		                            <div class="media">
		                                <figure class="avatar-100 mr-3">
		                                    <img src="/assets/img/user1.png" alt="Generic placeholder image" class="w-100">
		                                </figure>
		                                <div class="media-body">
		                                    <h6 class="mb-1">웃는남자</h6>
		                                    <p class="small text-mute mb-0">2022-08-15 19:30</p>
		                                    <p class="small text-mute">VIP A구역 연석 희망</p>
		                                </div>
		                                <div class="text-right"><p class="small text-mute">19:30<br>2022-08-01</p></div>
		                            </div>
		                            <hr>
		                            <div class="row">
		                                <div class="col">
		                                    <h6 class="mb-1">150,000원</h6>
		                                    <p class="small text-mute">1장</p>
		                                </div>
		                                <div class="col-auto">
		                                	성공
                                		</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                </div>
                
                
                <div class="tab-pane fade" id="muse" role="tabpanel" aria-labelledby="muse-tab">
                    <div class="row">
                        <div class="col-6 col-md-3">
                             <div class="top-right mt-2">
                             	<button class="btn btn-link text-danger p-0"><i class="material-icons text-danger vm">favorite</i></button>
                             </div>
                            <figure class="m-0 h-250 w-100 card position-relative overflow-hidden">
                                <div class="background" style="background-image: url(&quot;https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201312%2F20131206103506551.jpg&quot;);">
                                    <img src="https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201312%2F20131206103506551.jpg" alt="" style="display: none;">
                                </div>
                            </figure>
                            <div class="text-center mt-2">
                                <h6 class="text-default">홍광호</h6>
                                <p class="small">뮤지컬 배우</p>
                            </div>
                        </div>
                        
                        <div class="col-6 col-md-3">
                             <div class="top-right mt-2">
                             	<button class="btn btn-link text-danger p-0"><i class="material-icons text-danger vm">favorite</i></button>
                             </div>
                            <figure class="m-0 h-250 w-100 card position-relative overflow-hidden">
                                <div class="background" style="background-image: url(&quot;https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201312%2F20131206103506551.jpg&quot;);">
                                    <img src="https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F201312%2F20131206103506551.jpg" alt="" style="display: none;">
                                </div>
                            </figure>
                            <div class="text-center mt-2">
                                <h6 class="text-default">홍광호</h6>
                                <p class="small">뮤지컬 배우</p>
                            </div>
                        </div>
                        
                    </div>
                    <!--end:row-->
                </div>
                <!--end:muse-->
            </div>
        </div>
    </main>
    <!-- End of page content -->
	
	<script>
	"use strict"
	$(document).ready(function(){
        
	});
	</script>
	
</th:block>
</html>