<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="openWaitFragment">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			
			<!--begin::Navbar-->
			<div class="card mb-6">
				<div class="card-body pt-9 pb-0">
					<!--begin::Details-->
					<div class="d-flex flex-wrap flex-sm-nowrap mb-6">
						<h2>티켓팅 가능한 날짜를 확인하세요 :D</h2>
					</div>
					
					<div class="separator"></div>
				
					<!--begin::Navs-->
					<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="javascript:void(0);">뮤지컬</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">콘서트</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">스포츠</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">기타</a>
						</li>
						<!--end::Nav item-->
					</ul>
					<!--end::Navs-->
					
				</div>
			</div>
			
			<!--begin::Followers toolbar-->
			<div class="d-flex flex-wrap flex-stack mb-6">
				<!--begin::Title-->
				<h3 class="fw-bolder my-2">티켓팅 준비중인 뮤지컬
				<span class="fs-6 text-gray-400 fw-bold ms-1 list-cnt">(0)</span></h3>
				<!--end::Title-->
				<div class="d-flex my-2">
					<!--begin::Select-->
					<select name="status" data-control="select2" data-hide-search="true" class="form-select form-select-sm form-select-solid w-125px">
						<option value="interpark" selected="selected">인터파크</option>
						<option value="yes24">예스24</option>
						
					</select>
					<!--end::Select-->
				</div>
				
			</div>
			<!--end::Followers toolbar-->
			
			<!--begin::Row-->
			<div class="row g-6 mb-6 g-xl-9 mb-xl-9" id="content1">
			</div>
			<!--end::Row-->
			
			
		</div>
		<!--end::Content container-->
	</th:block>
	
</html>