<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="openWaitBuyFragment">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div class="row gy-5 g-xl-10">
			<!--begin::Col-->
			<div class="col-xl-12 mb-5 mb-xl-5">
				<!--begin::Engage widget 1-->
				<div class="card h-md-100">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column flex-center">
						<!--begin::Heading-->
						<div class="mb-2">
							<!--begin::Title-->
							<h1 class="fw-bold text-gray-800 text-center lh-lg">티켓팅 신청 주의사항
								<br>
								<span class="fw-boldest">신청 전 꼭 읽어주세요</span>
							</h1>
							<!--end::Title-->
						</div>
						<!--end::Heading-->
						<!--begin::Links-->
						<div class="text-center mb-1">
							<!--begin::Link-->
							<a class="btn btn-sm btn-light" href="#">주의사항 확인</a>
							<!--end::Link-->
						</div>
						<!--end::Links-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Engage widget 1-->
			</div>
			<!--end::Col-->
			
			<!--begin::Col-->
			<div class="col-xl-12 mb-5 mt-xl-5 mb-xl-5">
				<!--begin::Engage widget 1-->
				<div class="card h-md-100">
					
					<div class="card-header border-0">
						<!--begin::Card title-->
						<div class="card-title m-0">
							<h3 class="fw-bolder m-0">티켓팅 신청 - 정보 입력</h3>
							<span th:if="${naverUser != null}">
								<input type="hidden" id="userEmail" th:value="${{naverUser.email}}">
							</span>
							<span th:unless="${naverUser != null}">
								<input type="hidden" id="userEmail" value="">
							</span>
						</div>
						<!--end::Card title-->
					</div>
				
					<!--begin::Body-->
					<div class="card-body p-9">
						
						<div class="row mb-6">
							<!--begin::Label required-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6">공연</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="text" id="playName" name="playName" class="form-control form-control-lg form-control-flush mb-3 mb-lg-0" readonly th:value="${subject}">
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label required-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6">예매처</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="text" id="site" name="site" class="form-control form-control-lg form-control-flush mb-3 mb-lg-0" readonly th:value="${site}">
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label required-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6">
								매수
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="2장 이상일 경우, 연석을 우선으로 구매합니다."></i>
							</label>
							<!--end::Label-->
							
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<div class="d-flex flex-stack gap-5 mb-3">
									        <button type="button" class="btn btn-sm btn-light-primary w-100" data-kt-docs-advanced-forms="interactive" name="interactive-count">1</button>
									        <button type="button" class="btn btn-sm btn-light-primary w-100" data-kt-docs-advanced-forms="interactive" name="interactive-count">2</button>
									        <button type="button" class="btn btn-sm btn-light-primary w-100" data-kt-docs-advanced-forms="interactive" name="interactive-count">3</button>
									        <button type="button" class="btn btn-sm btn-light-primary w-100" data-kt-docs-advanced-forms="interactive" name="interactive-count">4</button>
									    </div>
									</div>
									<!--end::Col-->
									<input type="number" id="qty" class="form-control form-control-solid" placeholder="필수 1매 이상" name="qty" value="1" readonly />
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label required-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6">
								좌석
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="좌석 명칭이 다를 경우, 최대한 비슷한 등급으로 티켓팅 합니다."></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										
										<div class="d-flex align-items-center mt-3">
											<!--begin::Option-->
											<label class="form-check form-check-inline form-check-solid form-check-danger is-invalid">
												<input class="form-check-input" name="grade" type="radio" value="VIP" checked="checked">
												<span class="fw-bold ps-2 fs-6">VIP등급</span>
											</label>
											<!--end::Option-->
											
											<!--begin::Option-->
											<label class="form-check form-check-inline form-check-solid form-check-success is-invalid">
												<input class="form-check-input" name="grade" type="radio" value="R">
												<span class="fw-bold ps-2 fs-6">R등급</span>
											</label>
											<!--end::Option-->
											
											<!--begin::Option-->
											<label class="form-check form-check-inline form-check-solid is-invalid">
												<input class="form-check-input" name="grade" type="radio" value="S">
												<span class="fw-bold ps-2 fs-6">S등급</span>
											</label>
											<!--end::Option-->
											
											<!--begin::Option-->
											<label class="form-check form-check-inline form-check-solid is-invalid">
												<input class="form-check-input" name="grade" type="radio" value="A">
												<span class="fw-bold ps-2 fs-6">A등급</span>
											</label>
											
											<!--end::Option-->
										</div>
										<input type="text" id="hopeSeat" class="form-control form-control-solid mt-3" placeholder="희망좌석 (예: C열 7번) - 최대한 가까운 자리로 예매합니다." name="hopeSeat" value="" />
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6 required">
								아이디
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="티켓팅을 위해 예매처 계정 아이디가 필요합니다."></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="text" id="siteId" name="siteId" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="예매처 아이디">
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6 required">
								비밀번호
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="티켓팅을 위해 예매처 계정 비밀번호가 필요합니다."></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<div class="fv-row" data-kt-password-meter="true">
											
											<div class="position-relative mb-3">
												<input type="password" id="sitePw" name="sitePw" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="예매처 비밀번호">
												
												<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
		                							<i class="bi bi-eye-slash fs-2"></i>
		                							<i class="bi bi-eye fs-2 d-none"></i>
		            							</span>
		            							<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight"></div>
											</div>
										</div>
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6 required">
								연락처
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="티켓팅 성공 후 연락받을 연락처 입니다."></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="text" id="phone" name="phone" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="연락 받을 연락처">
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6 required">
								생년월일
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="예) 19991231 "></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="text" id="birth" name="birth" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="생년월일 8자리 (예: 19991231)">
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
						<div class="row mb-6">
							<!--begin::Label-->
							<label class="col-lg-4 col-form-label fw-bolder fs-6 required">
								수고비
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="티켓팅 난이도에 따라 가격이 달라집니다."></i>
							</label>
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->
									<div class="col-lg-12 fv-row fv-plugins-icon-container">
										<input type="number" id="applyCost" name="applyCost" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="수고비" value="100000" readonly>
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Col-->
									
								</div>
								<!--end::Row-->
							</div>
							<!--end::Col-->
						</div>
						
					</div>
					<!--end::Body-->
					
					<div class="card-footer d-flex justify-content-end py-6 px-9">
						<button type="button" class="btn btn-primary" id="applyBtn">티켓팅 신청</button>
					</div>
					
				</div>
				<!--end::Engage widget 1-->
			</div>
			<!--end::Col-->
			
		</div>
	</div>
	<!--end::Content container-->

	<script type="text/javascript">
	const options = document.querySelectorAll('[data-kt-docs-advanced-forms="interactive"]');
	const inputEl_qty = document.querySelector('[name="qty"]');
	const inputEl_applyCost = document.querySelector('[name="applyCost"]');
	
	options.forEach(option => {
	    option.addEventListener('click', e => {
	        e.preventDefault();
	        inputEl_qty.value = e.target.innerText;
	        
	        const inputEl_grade = document.querySelector('input[name="grade"]:checked').value;
	        if (inputEl_grade == 'VIP') inputEl_applyCost.value = e.target.innerText * 100000
	        else if (inputEl_grade == 'R') inputEl_applyCost.value = e.target.innerText * 50000
	        else inputEl_applyCost.value = e.target.innerText * 30000
	    });
	});
	
	$(document).ready(function () {
		
		const openWaitInit= {
			
			gradeFn: function () {
				 $("input[name='grade']").on('click', function() {
					var grade = $("input[name='grade']:checked").val();
					var qty = $("#qty").val();
					
					if (grade == 'VIP') $("#applyCost").val(qty * 100000);
					else if (grade == 'R') $("#applyCost").val(qty * 50000);
					else $("#applyCost").val(qty * 30000);
				});
			},
			
			init: function () {
				var _this = this;
				$('#applyBtn').on('click', function() {
					_this.save();
				});
			},
			
			save: function () {
				var data = {
					playName: $('#playName').val(),
					site: $('#site').val(),
					qty: $('#qty').val(),
					grade: $('input[name=grade]:checked').val(),
					siteId: $('#siteId').val(),
					sitePw: $('#sitePw').val(),
					phone: $('#phone').val(),
					applyCost: $('#applyCost').val(),
					userEmail: $('#userEmail').val(),
					hopeSeat: $('#hopeSeat').val(),
					birth: $('#birth').val()
				}
				
				console.log(data);
				
				if (data.qty == '') {
					alert('매수를 입력하세요.');
					return false;
				}
				
				if (data.grade == '') {
					alert('좌석등급을 입력하세요.');
					return false;
				}
				
				if (data.hopeSeat.length > 30) {
					alert('글자 수를 25자 이하로 입력하세요.');
					return false;
				}
				
				if (data.siteId == '') {
					alert('예매처 아이디를 입력하세요.');
					return false;
				}
				
				if (data.sitePw == '') {
					alert('예매처 비밀번호를 입력하세요.');
					return false;
				}
				
				if (data.phone == '') {
					alert('연락처를 입력하세요.');
					return false;
				}
				
				if (data.birth == '') {
					alert('생년월일을 입력하세요.');
					return false;
				}
				
				if (data.userEmail == '') {
					alert('로그인 후 이용해주세요.');
					return false;
				}
				
				ajaxCall4Json('/openWait/api_v1_002', data, 'post' ,function(result){
					console.log(result);
				});
			}
		};
		
		openWaitInit.init();
		openWaitInit.gradeFn();
		
	})
	</script>

</th:block>

</html>