<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="openWaitFragment">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
			
			<!--begin::Navbar-->
			<div class="card mb-6">
				<div class="card-body pt-9 pb-0">
					<!--begin::Details-->
					<div class="d-flex flex-wrap flex-sm-nowrap mb-6">
						<h2>티켓팅 가능한 날짜를 확인하세요 :D</h2>
					</div>
					
					<div class="separator"></div>
				
					<!--begin::Navs-->
					<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="javascript:void(0);">뮤지컬</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">콘서트</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">스포츠</a>
						</li>
						<!--end::Nav item-->
						<!--begin::Nav item-->
						<li class="nav-item mt-2">
							<a class="nav-link text-active-primary ms-0 me-10 py-5" href="javascript:alert('준비중입니다.');">기타</a>
						</li>
						<!--end::Nav item-->
					</ul>
					<!--end::Navs-->
					
				</div>
			</div>
			
			<!--begin::Followers toolbar-->
			<div class="d-flex flex-wrap flex-stack mb-6">
				<!--begin::Title-->
				<h3 class="fw-bolder my-2">티켓팅 준비중인 뮤지컬
				<span class="fs-6 text-gray-400 fw-bold ms-1">(29)</span></h3>
				<!--end::Title-->
			</div>
			<!--end::Followers toolbar-->
			
			<!--begin::Row-->
			<div class="row g-6 mb-6 g-xl-9 mb-xl-9">
				
				<!--begin::Col-->
				<div class="col-md-6 col-xxl-4">
					<!--begin::Card-->
					<div class="card">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-center flex-column py-9 px-5">
							<!--begin::Avatar-->
							<div class="bgi-no-repeat bgi-size-cover rounded min-h-250px mb-5">
								<img src="https://ticketimage.interpark.com/Play/image/large/22/22004761_p.gif" alt="image" />
							</div>
							<!--end::Avatar-->
							<!--begin::Name-->
							<a href="http://ticket.interpark.com/webzine/paper/TPNoticeView.asp?bbsno=34&pageno=1&stext=&no=43018&groupno=43018&seq=0&KindOfGoods=TICKET&Genre=1&sort=opendate" target="_blank" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">뮤지컬 〈웃는 남자〉 2차 티켓오픈 안내</a>
							<!--end::Name-->
							<!--begin::Position-->
							<div class="fw-bold text-gray-400 mb-6"></div>
							<!--end::Position-->
							<!--begin::Info-->
							<div class="d-flex flex-center flex-wrap mb-5">
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">22.05.17(화) 14:00</div>
									<div class="fw-bold text-gray-400">티켓팅 오픈일</div>
								</div>
								<!--end::Stats-->
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">인터파크</div>
									<div class="fw-bold text-gray-400">구매처</div>
								</div>
								<!--end::Stats-->
							</div>
							<!--end::Info-->
							
							
							<div class="symbol-group symbol-hover">
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mike Garcie">
									<span class="symbol-label bg-info text-inverse-info fw-bolder">M</span>
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
							</div>
							
						</div>
						<!--begin::Card body-->
					</div>
					<!--begin::Card-->
				</div>
				<!--end::Col-->
				
				<!--begin::Col-->
				<div class="col-md-6 col-xxl-4">
					<!--begin::Card-->
					<div class="card">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-center flex-column py-9 px-5">
							<!--begin::Avatar-->
							<div class="bgi-no-repeat bgi-size-cover rounded min-h-250px mb-5">
								<img src="https://ticketimage.interpark.com/Play/image/large/22/22004761_p.gif" alt="image" />
							</div>
							<!--end::Avatar-->
							<!--begin::Name-->
							<a href="http://ticket.interpark.com/webzine/paper/TPNoticeView.asp?bbsno=34&pageno=1&stext=&no=43018&groupno=43018&seq=0&KindOfGoods=TICKET&Genre=1&sort=opendate" target="_blank" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">뮤지컬 〈웃는 남자〉 2차 티켓오픈 안내</a>
							<!--end::Name-->
							<!--begin::Position-->
							<div class="fw-bold text-gray-400 mb-6"></div>
							<!--end::Position-->
							<!--begin::Info-->
							<div class="d-flex flex-center flex-wrap mb-5">
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">22.05.17(화) 14:00</div>
									<div class="fw-bold text-gray-400">티켓팅 오픈일</div>
								</div>
								<!--end::Stats-->
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">인터파크</div>
									<div class="fw-bold text-gray-400">구매처</div>
								</div>
								<!--end::Stats-->
							</div>
							<!--end::Info-->
							
							
							<div class="symbol-group symbol-hover">
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mike Garcie">
									<span class="symbol-label bg-info text-inverse-info fw-bolder">M</span>
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
							</div>
							
						</div>
						<!--begin::Card body-->
					</div>
					<!--begin::Card-->
				</div>
				<!--end::Col-->
				
				<!--begin::Col-->
				<div class="col-md-6 col-xxl-4">
					<!--begin::Card-->
					<div class="card">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-center flex-column py-9 px-5">
							<!--begin::Avatar-->
							<div class="bgi-no-repeat bgi-size-cover rounded min-h-250px mb-5">
								<img src="https://ticketimage.interpark.com/Play/image/large/22/22004761_p.gif" alt="image" />
							</div>
							<!--end::Avatar-->
							<!--begin::Name-->
							<a href="http://ticket.interpark.com/webzine/paper/TPNoticeView.asp?bbsno=34&pageno=1&stext=&no=43018&groupno=43018&seq=0&KindOfGoods=TICKET&Genre=1&sort=opendate" target="_blank" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">뮤지컬 〈웃는 남자〉 2차 티켓오픈 안내</a>
							<!--end::Name-->
							<!--begin::Position-->
							<div class="fw-bold text-gray-400 mb-6"></div>
							<!--end::Position-->
							<!--begin::Info-->
							<div class="d-flex flex-center flex-wrap mb-5">
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">22.05.17(화) 14:00</div>
									<div class="fw-bold text-gray-400">티켓팅 오픈일</div>
								</div>
								<!--end::Stats-->
								<!--begin::Stats-->
								<div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
									<div class="fs-6 fw-bolder text-gray-700">인터파크</div>
									<div class="fw-bold text-gray-400">구매처</div>
								</div>
								<!--end::Stats-->
							</div>
							<!--end::Info-->
							
							
							<div class="symbol-group symbol-hover">
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mike Garcie">
									<span class="symbol-label bg-info text-inverse-info fw-bolder">M</span>
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Mad Macy">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/09/0400041209_29854_02111.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/11/12/0400041112_27536_021.gif">
								</div>
								<!--begin::User-->
								<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Cris Willson">
									<img alt="Pic" src="https://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/12/10/0400041210_30078_02919.gif">
								</div>
							</div>
							
						</div>
						<!--begin::Card body-->
					</div>
					<!--begin::Card-->
				</div>
				<!--end::Col-->
			
				
				
				
			</div>
			<!--end::Row-->
			
			
		</div>
		<!--end::Content container-->
	</th:block>
</html>