<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="successFragment">
	<style>
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container">
		<!-- page content goes here -->       
        <div class="container mt-4">
        	<h5 class="page-subtitle">🍀 티켓팅 성공 내역</h5>
        	
        	<div class="card mb-4">
                <div class="card-header border-bottom">
                    <div class="media">
                        <figure class="avatar avatar-40 mr-2" style="font-size: 0.1rem;"> <!--2글자 초과 0.1rem 이하는 1rem   -->
                            티켓마요
                        </figure>
                        <div class="media-body">
                            <h6 class="mb-1">웃는남자 [티켓팅 성공]</h6>
                            <p class="mb-0 text-mute small">티켓마요 관리자</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="mb-0 text-mute">
                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet. 
                    </p>
                </div>
                <div class="card-img p-0">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile26.uf.tistory.com%2Fimage%2F2254F74954D4C8D302785D" alt="" class="w-100">
                </div>
                <div class="card-footer border-top bg-light">
                    <p class="small">
						웃는남자 2022-08-01 19:30 VIP석 A블럭 B열 **번
                    </p>
                </div>
            </div>
        	
        	<div class="card mb-4">
                <div class="card-header border-bottom">
                    <div class="media">
                        <figure class="avatar avatar-40 mr-2" style="font-size: 0.1rem;"> <!--2글자 초과 0.1rem 이하는 1rem   -->
                            티켓마요
                        </figure>
                        <div class="media-body">
                            <h6 class="mb-1">웃는남자 [티켓팅 성공]</h6>
                            <p class="mb-0 text-mute small">티켓마요 관리자</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="mb-0 text-mute">
                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet. 
                    </p>
                </div>
                <div class="card-img p-0">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile26.uf.tistory.com%2Fimage%2F2254F74954D4C8D302785D" alt="" class="w-100">
                </div>
                <div class="card-footer border-top bg-light">
                    <p class="small">
						웃는남자 2022-08-01 19:30 VIP석 A블럭 B열 **번
                    </p>
                </div>
            </div>
        	
        	<div class="col-12 col-md-12 text-center mt-4 mb-4">
            	<button type="button" class="mb-2 btn btn-rounded btn-outline-default">더 보기</button>
            </div>

        	<div class="col-12 col-md-12 mt-7">
                <div class="card shadow-sm border-0 mb-3 bg-warning">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body text-white">
                                <h6 class="">인기공연 티켓팅이 어렵다면 ? </h6>
                                <p class="text-mute">티켓마요에서 높은 성공률로 티켓팅 성공 🚀 </p>
                            </div>
                            <button class="btn btn-light shadow-sm btn-44">
                                ✌️
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        	
        </div>
        	        
    </main>
    <!-- End of page content -->
	
	<script>
	"use strict"
	$(document).ready(function(){
        
	});
	</script>
	
</th:block>
</html>