<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="tipFragment">
	<style>
	</style>
	<!-- Begin page content -->
    <main class="flex-shrink-0 main-container">
		<!-- page content goes here -->       
        <div class="container mt-4">
        	<h5 class="page-subtitle">🍯 공연 꿀팁!</h5>
        </div>	
        
        <div class="container mt-4">
        
        	<h6 class="page-subtitle">🐝 공연장 Tip</h6>
        	<div id="locArea">
	        	<div class="card  border-0 shadow-light mb-3">
	                <div class="card-body position-relative">
	                    <div class="media">
	                        <div class="media-body">
	                            <h6 class="mb-1">세종문화회관 대극장</h6>
	                            <p class="small text-mute">서울특별시 종로구 세종대로 175 (세종로)</p>
	                        </div>
	                        <div class="text-right"><p class="small text-mute"><a href="/tip/detail" class="btn btn-link text-secondary px-2"> <i class="material-icons">chevron_right</i></a></p></div>
	                    </div>
	                </div>
	            </div>
	            <div class="card  border-0 shadow-light mb-3">
	                <div class="card-body position-relative">
	                    <div class="media">
	                        <div class="media-body">
	                            <h6 class="mb-1">샤롯데씨어터</h6>
	                            <p class="small text-mute">서울특별시 송파구 올림픽로 240</p>
	                        </div>
	                        <div class="text-right"><p class="small text-mute"><a href="/tip/detail" class="btn btn-link text-secondary px-2"> <i class="material-icons">chevron_right</i></a></p></div>
	                    </div>
	                </div>
	            </div>
	            <div class="card  border-0 shadow-light mb-3">
	                <div class="card-body position-relative">
	                    <div class="media">
	                        <div class="media-body">
	                            <h6 class="mb-1">예술의전당 오페라극장</h6>
	                            <p class="small text-mute">서울특별시 서초구 서초3동 남부순환로 2406</p>
	                        </div>
	                        <div class="text-right"><p class="small text-mute"><a href="/tip/detail" class="btn btn-link text-secondary px-2"> <i class="material-icons">chevron_right</i></a></p></div>
	                    </div>
	                </div>
	            </div>
	            
        	</div>
        	<!--end:locArea-->
        	
        	<h6 class="page-subtitle">🐝 공연 Tip</h6>
        	<div id="playArea">
        		<div class="card  border-0 shadow-light mb-3">
	                <div class="card-body position-relative">
	                    <div class="media">
	                        <div class="media-body">
	                            <h6 class="mb-1">NCT DREAM 콘서트</h6>
	                            <p class="small text-mute">test text for test</p>
	                        </div>
	                        <div class="text-right"><p class="small text-mute"><a href="/tip/detail" class="btn btn-link text-secondary px-2"> <i class="material-icons">chevron_right</i></a></p></div>
	                    </div>
	                </div>
	            </div>
        	</div>
        	<!--end:playArea-->
        	
        	<h6 class="page-subtitle">🐝 ㅁㅁㅁ Tip</h6>
        	<div id="wordArea">
        		<div class="card  border-0 shadow-light mb-3">
	                <div class="card-body position-relative">
	                    <div class="media">
	                        <div class="media-body">
	                            <h6 class="mb-1">ㅁㅁㅁ</h6>
	                            <p class="small text-mute">ㅁㅁㅁㅁ ㅁㅁㅁㅁㅁ ㅁㅁㅁㅁ</p>
	                        </div>
	                        <div class="text-right"><p class="small text-mute"><a href="/tip/detail" class="btn btn-link text-secondary px-2"> <i class="material-icons">chevron_right</i></a></p></div>
	                    </div>
	                </div>
	            </div>
        	</div>
        	
        </div>
        	        
    </main>
    <!-- End of page content -->
	
	<script>
	"use strict"
	$(document).ready(function(){
        
	});
	</script>
	
</th:block>
</html>