<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- HEAD -->
	<th:block th:replace="fragments/common/head :: headFragment"></th:block>
	
	<!--begin::Body-->
	<body id="kt_app_body" 
		data-kt-app-layout="light-sidebar" 
		data-kt-app-sidebar-fixed="true" 
		data-kt-app-sidebar-push-header="true" 
		data-kt-app-sidebar-push-toolbar="true" 
		data-kt-app-sidebar-push-footer="true" 
		class="app-default"
	>
		
		
									<!--begin::Card-->
									<div class="card" style="flex: 1 0 auto;">
										<!--begin::Card body-->
										<div class="card-body">
										
											<!--begin::Stepper-->
<div class="stepper stepper-pills" id="kt_stepper_onboard_clickable">
    <!--begin::Nav-->
    <div class="stepper-nav flex-center flex-wrap mb-10">
        <!--begin::Step 1-->
        <div class="stepper-item mx-2 my-4 current" data-kt-stepper-element="nav" data-kt-stepper-action="step">

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">1</span>
            </div>
            <!--end::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
            </div>
            <!--end::Label-->
        </div>
        <!--end::Step 1-->

        <!--begin::Step 2-->
        <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav" data-kt-stepper-action="step">

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">2</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
            </div>
            <!--end::Label-->
        </div>
        <!--end::Step 2-->

        <!--begin::Step 3-->
        <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav" data-kt-stepper-action="step">

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">3</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
            </div>
            <!--end::Label-->
        </div>
        <!--end::Step 3-->

        <!--begin::Step 4-->
        <div class="stepper-item mx-2 my-4" data-kt-stepper-element="nav" data-kt-stepper-action="step">

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">4</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
            </div>
            <!--end::Label-->
        </div>
        <!--end::Step 4-->
    </div>
    <!--end::Nav-->

    <!--begin::Form-->
    <form class="form w-lg-500px mx-auto" novalidate="novalidate" id="kt_stepper_example_basic_form">
        <!--begin::Group-->
        <div class="mb-5">
            <!--begin::Step 1-->
            <div class="flex-column current" data-kt-stepper-element="content">
                
				<img src="assets/media/illustrations/free/index1.svg" alt="온보딩 이미지1" class="mw-100 h-100 h-sm-325px">
               	
               	
               	<div class="mx-auto mw-600px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework">
               	
               	<div class="w-100">
				<div class="pb-8 pb-lg-10">
																<!--begin::Title-->
																<h2 class="fw-bolder text-dark">Your Are Done1!</h2>
																<!--end::Title-->
																<!--begin::Notice-->
																<div class="text-muted fw-bold fs-6">If you need more info, please
																<a href="../dist/authentication/sign-in/basic.html" class="link-primary fw-bolder">Sign In</a>.</div>
																<!--end::Notice-->
															</div>
               	</div>
               	</div>
               	
            </div>
            <!--begin::Step 1-->

            <!--begin::Step 1-->
            <div class="flex-column" data-kt-stepper-element="content">
                

               <img src="assets/media/illustrations/free/index2.svg" alt="온보딩 이미지1" class="mw-100 h-100 h-sm-325px">
				<div class="mx-auto mw-600px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework">
               	
               	<div class="w-100">
				<div class="pb-8 pb-lg-10">
																<!--begin::Title-->
																<h2 class="fw-bolder text-dark">Your Are Done1!</h2>
																<!--end::Title-->
																<!--begin::Notice-->
																<div class="text-muted fw-bold fs-6">If you need more info, please
																<a href="../dist/authentication/sign-in/basic.html" class="link-primary fw-bolder">Sign In</a>.</div>
																<!--end::Notice-->
															</div>
               	</div>
               	</div>
                
            </div>
            <!--begin::Step 1-->

            <!--begin::Step 1-->
            <div class="flex-column" data-kt-stepper-element="content">
                <img src="assets/media/illustrations/free/index3.svg" alt="온보딩 이미지1" class="mw-100 h-100 h-sm-325px">
            	<div class="mx-auto mw-600px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework">
               	
               	<div class="w-100">
				<div class="pb-8 pb-lg-10">
																<!--begin::Title-->
																<h2 class="fw-bolder text-dark">Your Are Done1!</h2>
																<!--end::Title-->
																<!--begin::Notice-->
																<div class="text-muted fw-bold fs-6">If you need more info, please
																<a href="../dist/authentication/sign-in/basic.html" class="link-primary fw-bolder">Sign In</a>.</div>
																<!--end::Notice-->
															</div>
               	</div>
               	</div>
            </div>
            <!--begin::Step 1-->

            <!--begin::Step 1-->
            <div class="flex-column" data-kt-stepper-element="content">
                <img src="assets/media/illustrations/free/index4.svg" alt="온보딩 이미지1" class="mw-100 h-100 h-sm-325px">
            	<div class="mx-auto mw-600px w-100 pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework">
               	
               	<div class="w-100">
				<div class="pb-8 pb-lg-10">
																<!--begin::Title-->
																<h2 class="fw-bolder text-dark">Your Are Done1!</h2>
																<!--end::Title-->
																<!--begin::Notice-->
																<div class="text-muted fw-bold fs-6">If you need more info, please
																<a href="../dist/authentication/sign-in/basic.html" class="link-primary fw-bolder">Sign In</a>.</div>
																<!--end::Notice-->
															</div>
               	</div>
               	</div>
            </div>
            <!--begin::Step 1-->
        </div>
        <!--end::Group-->

        <!--begin::Actions-->
        <div class="d-flex flex-stack">
            <!--begin::Wrapper-->
            <div class="me-2">
                <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                    뒤로 
                </button>
            </div>
            <!--end::Wrapper-->

            <!--begin::Wrapper-->
            <div>
                <button type="button" class="btn btn-primary" data-kt-stepper-action="submit" onclick="javascript:location.href='/openWait'">
                    <span class="indicator-label">
                       이해 완료!
                    </span>
                 
                </button>

                <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                    다음으로 
                </button>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Stepper-->
										
										
										</div>
										
										<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
						<!--begin::Links-->
						<div class="d-flex flex-center fw-bold fs-6">
													
							<span class="text-muted fw-bold me-1">2022©</span>
							<a href="javascript:void(0);" target="_blank" class="text-gray-800 text-hover-primary">TicketMayo</a>
						</div>
						<!--end::Links-->
					</div>	
										
									</div>
		
		
		<!-- COMMON SCRIPTS -->
		<th:block th:replace="fragments/common/scripts :: scriptsFragment"></th:block>
		
		
		
	</body>
	<!--end::Body-->
	
	<script>
	// Stepper lement
	var element = document.querySelector("#kt_stepper_onboard_clickable");
	
	// Initialize Stepper
	var stepper = new KTStepper(element);
	
	// Handle navigation click
	stepper.on("kt.stepper.click", function (stepper) {
	    stepper.goTo(stepper.getClickedStepIndex()); // go to clicked step
	});
	
	// Handle next step
	stepper.on("kt.stepper.next", function (stepper) {
	    stepper.goNext(); // go next step
	});
	
	// Handle previous step
	stepper.on("kt.stepper.previous", function (stepper) {
	    stepper.goPrevious(); // go previous step
	});
	</script>
</html>