<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- HEAD -->
	<th:block th:replace="fragments/common/head :: headFragment"></th:block>
	
	<!--begin::Body-->
	<body id="kt_app_body" 
		data-kt-app-layout="light-sidebar" 
		data-kt-app-sidebar-fixed="true" 
		data-kt-app-sidebar-push-header="true" 
		data-kt-app-sidebar-push-toolbar="true" 
		data-kt-app-sidebar-push-footer="true" 
		class="app-default"
	>
		
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root" id="kt_app_root">

			<!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				
				<!-- TOP -->
				<th:block th:replace="fragments/common/top :: topFragment"></th:block>	
				
				
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<!-- SIDEBAR -->
					<span th:if="${naverUser}">
						<span th:switch="${#strings.toString(naverUser.role)}">
							<span th:case="'GUEST'">
								<th:block th:replace="fragments/common/sidebar :: sidebarFragment" ></th:block>
							</span>
							<span th:case="'ADMIN'">
								<th:block th:replace="fragments/common/sidebarAdmin :: sidebarAdminFragment" ></th:block>
							</span>
							<span th:case="*">
								<th:block th:replace="fragments/common/sidebar :: sidebarFragment" ></th:block>
							</span>
						</span>
					</span>
					<span th:unless="${naverUser}">
						<th:block th:replace="fragments/common/sidebar :: sidebarFragment" ></th:block>
					</span>
					
					<!--begin::Main-->
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
						<!--begin::Content wrapper-->
						<div class="d-flex flex-column flex-column-fluid">
							<!--begin::Content-->
							<div id="kt_app_content" class="app-content flex-column-fluid">
								<!-- CONTENT -->
								<th:block th:replace="contents/myInfo :: myInfoFragment"></th:block>
							</div>
							<!--end::Content-->
						</div>
						<!--end::Content wrapper-->
						
						<!-- FOOTER -->
						<th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
					</div>
					<!-- end::Main-->
				</div>
				<!-- #kt_app_wrapper -->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		
		<!-- PAGE SCRIPTS -->
	</body>
	<!--end::Body-->
	
</html>